*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.head {
  background-color: #004AAD;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
  background-color: #004AAD;
  color: white;
}

.menu {
  color: #F4382D;
  text-align: center;
  font-family: georgia, 'Times New Roman', Times, serif;
}
.link {
  color: #ffffff;
  font-size: 20px;
}

.h1 {
  color: #F4382D;
  text-align: center;
  font-family: georgia, 'Times New Roman', Times, serif;
}
.services {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.service-item1 {
  background-color: #F4382D;
  color: white;
  text-align: center;
  font-family: georgia, 'Times New Roman', Times, serif;
  border-radius: 20px;
  width: 180px;
  height: 150px;
}

.service-item2{
  background-color: #F4382D;
  color: white;
  text-align: center;
  font-family: georgia, 'Times New Roman', Times, serif;
  border-radius: 20px;
  width: 180px;
  height: 150px;
}

.service-item3{
  background-color: #F4382D;
  color: white;
  text-align: center;
  font-family: georgia, 'Times New Roman', Times, serif;
  border-radius: 20px;
  width: 180px;
  height: 150px;
}
